.section-clients {
    background-color: $color-bg;

    h4 {
        margin: 0;
        text-transform: uppercase;
        font-size: $font-size-title;
    }

    p {
        color: $dark-gray;
        font-size: $font-size-text;
    }

    .container {
        text-align: center;

        .list-unstyled {
            @include flex (center, space-between);
            margin-top: $padding;
            
            li + li {
                margin-left: 30px;
            }
        }
    }
}