// colors
$black: #000000;
$white: #ffffff;
$blue: #5da09c;
$gray: #eeeeee;
$dark-gray: #727272;

$color-primary: $black;
$color-secondary: $white;
$color-icon: $blue;
$color-bg: $gray;
$color-apple: $dark-gray;

// size
$padding: 40px;
$font-size-text: 16px;
$font-size-title: 24px;

// breakpoint
$mobile: 420px;
